@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.header-font {
  font-family: "Bungee Shade", sans-serif;
  font-size: 300%;
}

.header-body-font {
  font-family: "Lato", sans-serif;
}

.wt {
  color: black;
}

.jumbo-shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

@media screen and (max-width: 1024px) {
  .header-font {
    font-size: 300%;
  }
}

@media screen and (max-width: 950px) {
  .header-font {
    font-size: 200%;
  }
}

@media screen and (max-width: 500px) {
  .header-font {
    font-size: 100%;
  }
}

.invis-div-arrow {
  height: 160px;

  width: 100%;
}

.arrow-circle {
  display: inline-block;
  border: 1px solid black;
  border-radius: 30px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  opacity: 75%;
}
